nav {
  padding: 28px 16px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .icon-logo {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      padding: 1rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: #f0f0f0ba;
      }

      &.active {
        background-color: #e9faf0;
      }
    }
  }
}

.icon-only {
  ul {
    p {
      display: none;
    }

    .icon-logo {
      display: block;
    }
  }

  .footer {
    div {
      div {
        display: none;
      }
    }
    svg {
      display: none;
    }
  }

  &.minimizer {
    transform: rotate(180deg);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;

  div:first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  svg {
    color: #000;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #a3a9b6;

  .active & {
    color: #000;
  }

  li:hover & {
    color: #000;
  }
}

.minimizer {
  background-color: #00732e;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 22px;
    height: 22px;
    padding: 5px;
  }
}
