.remediations-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.remediation-content {
  background-color: #fff;
  border: 1px solid #f0f1f3;
  box-shadow: 0px 1px 3px 0px #0000000d;
  box-shadow: 0px 1px 2px 0px #0000001a;
  padding: 13px 16px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h5 {
    color: #030229;
    font-size: 1rem;
  }

  .remediation-content-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fafafa;
    padding: 10px 16px;
    cursor: pointer;

    .remediation-content-header-item {
      display: flex;
      align-items: center;
      gap: 1rem;

      .remediation-content-header-server-icon {
        display: flex;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #d7eaff;
        align-items: center;
        justify-content: center;

        svg {
          color: #1873de;
          width: 21px;
          height: 21px;
        }
      }

      .remediation-content-header-server-details {
        display: flex;
        flex-direction: column;
        p {
          color: #404a60;
          font-weight: 600;
          font-size: 0.8rem;
          margin: 0;
          padding: 0;
        }

        span {
          color: #667085;
          font-size: 0.6rem;
        }
      }
    }

    .remediation-content-header-brief {
      border-left: 1px solid #858d9d;
      height: 100%;
      color: #404a60;
      font-size: 13px;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  }

  .remediation-content-description {
    font-size: 1rem;
    line-height: 22px;
  }
}
